* {
   margin: 0;
   padding: 0;
}

body {
     background : #ffffff;
     font-family: Georgia, Times New Roman, Times, serif;
     font-size: 11pt;
}

/* LAYOUT */
/* Parent */
#wrapper {
   min-width: 600px;
   width: 100%;
   margin : 0px;
   background-color : #ffffff;
   color: #000000;
   text-align : left;
   border : 0;
   overflow:visible;
   padding: 0px;
}

/* LAYOUT */
/* Blocks */

#header {
   height: 0;
   width: 0;
   border : 0;
   padding: 0;
   overflow: visible;
   visibility: hidden;
}

#site_id {
   width: 0;
   height: 0;
   visibility: hidden;
}

#utilities {
   width: 0;
   height: 0;
   visibility: hidden;
}

#navigation {
   width: 0;
   height: 0;
   visibility: hidden;
}

#content_wrapper {
   border: 0;
   text-align: left;
   padding:0;
}

#left_menu {
   visibility: hidden;
   width: 0;
   height: 0;
}

#text_nav {
   visibility: hidden;
}

#legals {
   font-size: 70%;
   text-align: center;
   padding: 0;
   margin: .5em;
   border: 0;
}

#print_notice {
   visibility: visible;
   text-align: center;
   height: 100px;
   margin: 1em;
}

#breadcrumbs {
   visibility: hidden;
   height: 0;
   width: 0;
   padding: 0;
   margin: 0;
}

img {
   border: 0;
}


