{% extends "base.html" %}

<!-- Breadcrumb -->
{% block breadcrumb %} 
	<a href="/" class="pathway">Home</a> 
	<img src="/img/arrow.png" alt="">
	<a href="/search/searchgene/" class="pathway">Gene/Disease</a>
	<img src="/img/arrow.png" alt=""> 
    {% if template == "lab_request" %}
    	<a href="/search/gene/{{ gene.ID }}/searchvariant/path_all/path_all/" class="pathway">Variant</a>
    	<img src="/img/arrow.png" alt="">
    	<a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/instance_result/path_all/sort_date/order_desc/" class="pathway">Variant Instance Result</a>
    	<img src="/img/arrow.png" alt="">
    	<a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/instance/{{ variant_instance.ID }}/" class="pathway">Variant Instance Detail</a>
    {% endif %}
    {% if template == "lab_request_patient" %}
    	<a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/patient/{{ variant_instance.ID }}/path_all/path_all/" class="pathway">Variant Patient</a>
    	<img src="/img/arrow.png" alt="">
    	<a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/patient/{{ variant_instance.ID }}/instance_result/path_all/sort_date/order_desc/" class="pathway">Variant Instance Patient Results</a>
    	<img src="/img/arrow.png" alt="">
        <a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/patient/instance_detail/{{ variant_instance.ID }}/" class="pathway">Variant Patient Instance Detail</a>
    {% endif %}
    {% if template == "lab_request_lab" %}
        <a href="/search/gene/{{ gene.ID }}/searchvariant/path_all/path_all/" class="pathway">Variant</a>
        <img src="/img/arrow.png" alt="">
        <a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ variant_instance.ID }}/path_all/sort_date/order_desc/" class="pathway">Variant Instance Lab Results</a>
        <img src="/img/arrow.png" alt="">
        <a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/lab/instance_detail/{{ variant_instance.ID }}/" class="pathway">Variant Lab Instance Detail</a>
    {% endif %}
    <img src="/img/arrow.png" alt="">
    Lab Request
{% endblock %}

<!-- Content Heading -->
{% block contentheader %} Request for Laboratory contact{% endblock %}

<!-- Content -->
{% block content %}
	<div id="div1">
    <table class="ui-widget ui-dialog-content ui-widget-content ui-corner-all" style="font-size:small">
      <tr>
        <th align="center" colspan="2"><h4>{{ gene.GeneName }}</h4></th>
      </tr>
        <tr>
            <td width="60px">RefSeq</td>
            <td>{{ gene.RefSeqName }}{% if gene.RefSeqVer != "" %}.{{ gene.RefSeqVer }}{% endif %}</td>
        </tr>
        <tr>
            <td>cDNA</td>
            <td>{{ variant.cDNA }}</td>
        </tr>
        <tr>
            <td>genomic</td>
            <td>{% if variant.Genomic != "None" %}{{ variant.Genomic }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>Protein</td>
            <td>{% if variant.Protein != "None" %}{{ variant.Protein }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>mRNA</td>
            <td>{% if variant.mRNA != "None" %}{{ variant.mRNA }}{% else %}-{% endif %}</td>
        </tr>
    </table>
		<p>
			<h4>Request Details</h4>
		</p>
		{% if lab_request %}
			<div class="ui-widget" style="width:75%;">
          <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
                <p class="errorMessage">
                	<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
									A request for this instance has been sent
                </p>
          </div>
		    </div>
	    {% endif %}
	    {% if page_error %}
	    	<div class="ui-widget" style="width:75%;">
				<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
					<p class="errorMessage">
					<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
						Please check that you have entered in your justification. 
					</p>
				</div>
			</div>
	    {% endif %}
		<p>
			<form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
				<table>
					<tr>
						<td><b>Date: </b></td>
						<td>{% now "jS M Y" %}</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td colspan="2">
							<b>Justification: </b>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<textarea name="justification" rows="10" cols="75" {%if lab_request%}disabled="true"{%endif%}>{{ lab_request.Justification }}</textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="submit" name="submit" value="Submit" {%if lab_request%}disabled="true"{%endif%}/>
						</td>
					</tr>
				</table>
			</form>
		</p>
	</div>
	<div id="div2">
		<h3>Important please read this</h3>
		<p>
			Your request must comply with Human Variome Australian Node Terms and Conditions.
		</p>
		<p>
			For more details you can download the terms and conditions <a href="">here</a>.
		</p>
	</div>
{% endblock %}
