{% extends "base.html" %}

<!-- Breadcrumb -->
{% block breadcrumb %} 
	<a href="/" class="pathway">Home</a> 
	<img src="/img/arrow.png" alt="">
	<a href="/search/searchgene/" class="pathway">Gene/Disease</a>
	<img src="/img/arrow.png" alt=""> 
	    {% if template == "variant_patient" %}Variant Patient{% else %}Variant{% endif %}
{% endblock %}

<!-- Content Heading -->
{% block contentheader %}
        {% if template == "variant_patient" %}Patient Variants {% else %}Variant {% endif %}
{% endblock %}

<!-- Script -->
{% block extra_js %}
<script type="text/javascript">
    $(function() {
        $( ".path_filter" ).buttonset()
    });
</script>
{% endblock %}

<!-- Content -->
{% block content %}
<div id="search" style="float: left; width: 700px">
	<!-- Search Bar -->
	<form method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <table>
			<tr>
	      <td>
	          <input type="text" name="searched_variant" value="{{ searched_variant }}" id="searched_variant" style="width:600px"/>
	      </td>
	      <td>
	  			<input type="submit" value="Search" name="search"
    			class="ui-button ui-state-default ui-corner-all ui-button-text-only" />
  			</td>
			</tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td valign="top">
	    					<div class="gene-icon" >
	    						{{ geneName }}
      					</div>
                </td>
                <td valign="top">
                    <p>
                        <h5>Filter results by Level of Pathogenicity(Community Consensus):</h5>
                        <div id="path_filter" class="path_filter">
                            {% if template == "variant" %}
                                <input type="radio" id="path_all" name="path_filter" value="path_all" {{ dict_path.path_all }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/path_all/{{ path_filter_ratio }}';">
                                    <label for="path_all" style="font-size:10px">Show All</label>
                                <input type="radio" id="path" name="path_filter" value="path" {{ dict_path.path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/path/{{ path_filter_ratio }}';">
                                    <label for="path" style="font-size:10px">Pathogenic</label>
                                <input type="radio" id="not_path" name="path_filter" value="not_path" {{ dict_path.not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/not_path/{{ path_filter_ratio }}/';">
                                    <label for="not_path" style="font-size:10px">Not Pathogenic</label>
                                <input type="radio" id="likely_not_path" name="path_filter" value="likely_not_path" {{ dict_path.likely_not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/likely_not_path/{{ path_filter_ratio }}/';">
                                    <label for="likely_not_path" style="font-size:10px">Unlikely Path</label>
                                <input type="radio" id="likely_path" name="path_filter" value="likely_path" {{ dict_path.likely_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/likely_path/{{ path_filter_ratio }}/';">
                                    <label for="likely_path" style="font-size:10px">Likely Path</label>
                                <input type="radio" id="unknown_path" name="path_filter" value="unknown_path" {{ dict_path.unknown_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/unknown_path/{{ path_filter_ratio }}/';">
                                    <label for="unknown_path" style="font-size:10px">Unknown</label>
                                <input type="radio" id="not_class" name="path_filter" value="not_class" {{ dict_path.not_class }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/not_class/{{ path_filter_ratio }}/';">
                                    <label for="not_class" style="font-size:10px">Not Classified</label>
                            {% endif %}
                            {% if template == "variant_result" %}
                                <input type="radio" id="path_all" name="path_filter" value="path_all" {{ dict_path.path_all }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/path_all/{{ path_filter_ratio }}/';">
                                    <label for="path_all" style="font-size:10px">Show All</label>
                                <input type="radio" id="path" name="path_filter" value="path" {{ dict_path.path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/path/{{ path_filter_ratio }}/';">
                                    <label for="path" style="font-size:10px">Pathogenic</label>
                                <input type="radio" id="not_path" name="path_filter" value="not_path" {{ dict_path.not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/not_path/{{ path_filter_ratio }}/';">
                                    <label for="not_path" style="font-size:10px">Not Pathogenic</label>
                                <input type="radio" id="likely_not_path" name="path_filter" value="likely_not_path" {{ dict_path.likely_not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/likely_not_path/{{ path_filter_ratio }}/';">
                                    <label for="likely_not_path" style="font-size:10px">Unlikely Path</label>
                                <input type="radio" id="likely_path" name="path_filter" value="likely_path" {{ dict_path.likely_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/likely_path/{{ path_filter_ratio }}/';">
                                    <label for="likely_path" style="font-size:10px">Likely Path</label>
                                <input type="radio" id="unknown_path" name="path_filter" value="unknown_path" {{ dict_path.unknown_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/unknown_path/{{ path_filter_ratio }}/';">
                                    <label for="unknown_path" style="font-size:10px">Unknown</label>
                                <input type="radio" id="not_class" name="path_filter" value="not_class" {{ dict_path.not_class }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant }}/{{ search_type }}/results/not_class/{{ path_filter_ratio }}/';">
                                    <label for="not_class" style="font-size:10px">Not Classified</label>
                            {% endif %}
                            {% if template == "variant_patient" %}
                                <input type="radio" id="path_all" name="path_filter" value="path_all" {{ dict_path.path_all }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/path_all/{{ path_filter_ratio }}/';">
                                    <label for="path_all" style="font-size:10px">Show All</label>
                                <input type="radio" id="path" name="path_filter" value="path" {{ dict_path.path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/path/{{ path_filter_ratio }}/';">
                                    <label for="path" style="font-size:10px">Pathogenic</label>
                                <input type="radio" id="not_path" name="path_filter" value="not_path" {{ dict_path.not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/not_path/{{ path_filter_ratio }}/';">
                                    <label for="not_path" style="font-size:10px">Not Pathogenic</label>
                                <input type="radio" id="likely_not_path" name="path_filter" value="likely_not_path" {{ dict_path.likely_not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/likely_not_path/{{ path_filter_ratio }}/';">
                                    <label for="likely_not_path" style="font-size:10px">Unlikely Path</label>
                                <input type="radio" id="likely_path" name="path_filter" value="likely_path" {{ dict_path.likely_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/likely_path/{{ path_filter_ratio }}/';">
                                    <label for="likely_path" style="font-size:10px">Likely Path</label>
                                <input type="radio" id="unknown_path" name="path_filter" value="unknown_path" {{ dict_path.unknown_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/unknown_path/{{ path_filter_ratio }}/';">
                                    <label for="unknown_path" style="font-size:10px">Unknown</label>
                                <input type="radio" id="not_class" name="path_filter" value="not_class" {{ dict_path.not_class }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/not_class/{{ path_filter_ratio }}/';">
                                    <label for="not_class" style="font-size:10px">Not Classified</label>
                            {% endif %}
                        </div>
                    </p>
                    
                    <p>
                        <h5>Sort by number of instance Path:</h5>
                        <div id="path_filter_ratio" class="path_filter">
                            {% if template == "variant" %}
                                <input type="radio" id="path_all_ratio" name="path_filter_ratio" value="path_all_ratio" {{ dict_path_ratio.path_all }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ path_filter }}/path_all/';">
                                    <label for="path_all_ratio" style="font-size:10px">Total Instances</label>
                                <input type="radio" id="path_ratio" name="path_filter_ratio" value="path_ratio" {{ dict_path_ratio.path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ path_filter }}/path/';">
                                    <label for="path_ratio" style="font-size:10px">Pathogenic</label>
                                <input type="radio" id="not_path_ratio" name="path_filter_ratio" value="not_path_ratio" {{ dict_path_ratio.not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ path_filter }}/not_path/';">
                                    <label for="not_path_ratio" style="font-size:10px">Not Pathogenic</label>
                                <input type="radio" id="likely_not_path_ratio" name="path_filter_ratio" value="likely_not_path_ratio" {{ dict_path_ratio.likely_not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ path_filter }}/likely_not_path/';">
                                    <label for="likely_not_path_ratio" style="font-size:10px">Unlikely Path</label>
                                <input type="radio" id="likely_path_ratio" name="path_filter_ratio" value="likely_path_ratio" {{ dict_path_ratio.likely_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ path_filter }}/likely_path/';">
                                    <label for="likely_path_ratio" style="font-size:10px">Likely Path</label>
                                <input type="radio" id="unknown_path_ratio" name="path_filter_ratio" value="unknown_path_ratio" {{ dict_path_ratio.unknown_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ path_filter }}/unknown_path/';">
                                    <label for="unknown_path_ratio" style="font-size:10px">Unknown</label>
                            {% endif %}
                            {% if template == "variant_result" %}
                                <input type="radio" id="path_all_ratio" name="path_filter_ratio" value="path_all_ratio" {{ dict_path_ratio.path_all }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/{{ path_filter }}/path_all/';">
                                    <label for="path_all_ratio" style="font-size:10px">Total Instances</label>
                                <input type="radio" id="path_ratio" name="path_filter_ratio" value="path_ratio" {{ dict_path_ratio.path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/{{ path_filter }}/path/';">
                                    <label for="path_ratio" style="font-size:10px">Pathogenic</label>
                                <input type="radio" id="not_path_ratio" name="path_filter_ratio" value="not_path_ratio" {{ dict_path_ratio.not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/{{ path_filter }}/not_path/';">
                                    <label for="not_path_ratio" style="font-size:10px">Not Pathogenic</label>
                                <input type="radio" id="likely_not_path_ratio" name="path_filter_ratio" value="likely_not_path_ratio" {{ dict_path_ratio.likely_not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/{{ path_filter }}/likely_not_path/';">
                                    <label for="likely_not_path_ratio" style="font-size:10px">Unlikely Path</label>
                                <input type="radio" id="likely_path_ratio" name="path_filter_ratio" value="likely_path_ratio" {{ dict_path_ratio.likely_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/{{ path_filter }}/likely_path/';">
                                    <label for="likely_path_ratio" style="font-size:10px">Likely Path</label>
                                <input type="radio" id="unknown_path_ratio" name="path_filter_ratio" value="unknown_path_ratio" {{ dict_path_ratio.unknown_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/searchvariant/{{ searched_variant_safe }}/{{ search_type }}/results/{{ path_filter }}/unknown_path/';">
                                    <label for="unknown_path_ratio" style="font-size:10px">Unknown</label>
                            {% endif %}
                            {% if template == "variant_patient" %}
                                <input type="radio" id="path_all_ratio" name="path_filter_ratio" value="path_all_ratio" {{ dict_path_ratio.path_all }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/{{ path_filter }}/path_all/';">
                                    <label for="path_all_ratio" style="font-size:10px">Total Instances</label>
                                <input type="radio" id="path_ratio" name="path_filter_ratio" value="path_ratio" {{ dict_path_ratio.path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/{{ path_filter }}/path/';">
                                    <label for="path_ratio" style="font-size:10px">Pathogenic</label>
                                <input type="radio" id="not_path_ratio" name="path_filter_ratio" value="not_path_ratio" {{ dict_path_ratio.not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/{{ path_filter }}/not_path/';">
                                    <label for="not_path_ratio" style="font-size:10px">Not Pathogenic</label>
                                <input type="radio" id="likely_not_path_ratio" name="path_filter_ratio" value="likely_not_path_ratio" {{ dict_path_ratio.likely_not_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/{{ path_filter }}/likely_not_path/';">
                                    <label for="likely_not_path_ratio" style="font-size:10px">Unlikely Path</label>
                                <input type="radio" id="likely_path_ratio" name="path_filter_ratio" value="likely_path_ratio" {{ dict_path_ratio.likely_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/{{ path_filter }}/likely_path/';">
                                    <label for="likely_path_ratio" style="font-size:10px">Likely Path</label>
                                <input type="radio" id="unknown_path_ratio" name="path_filter_ratio" value="unknown_path_ratio" {{ dict_path_ratio.unknown_path }} 
                                    onclick="document.location='/search/gene/{{ geneID }}/variant/{{ variantID }}/patient/{{ instance.ID }}/{{ path_filter }}/unknown_path/';">
                                    <label for="unknown_path_ratio" style="font-size:10px">Unknown</label>
                            {% endif %}
                        </div>
                    </p>
                </td>
              </tr>
          </table>
	      </td>
		  </tr>
		</table>
	</form>
	{# if search query string is too short display this message #}
	{% if page_error %}
    <div class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
        <p class="errorMessage">
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				{% if search_tooShort %}
					{% ifequal searched_variant|length 0 %}
						You did not enter in a search query.
					{% else %}
						The search query &#147;{{ searched_variant }}&#147; is too short, please enter minimum of 2 characters or more.
					{% endifequal %}
				{% endif %}
				{% if invalid_variant %}
					The search query &#147;{{ searched_variant }}&#147; is either not complete or not a valid variant, please enter a valid variant notation. 
					<br/>e.g: c.123c>t, c.123_456c>t, C.123+12DEL, c.123+12_456-34inv etc. 
					<br/>*For genome variants please specify the RefSeq or Chromosome. e.g: nc_000017.10:12345678, chr13:12345678
				{% endif %}
          </p>
        </div>
      </div>
		{% else %}
		{% if variants %}
      <div style="width:650px; background-color:#F0F7F9; border-top: solid 1px #6B90DA; padding: 0.3em">
      	Showing <strong>{{ result_low }} - {{ result_high }}</strong> of <strong>{{ results }}</strong> results matched your search for <strong>{{ searched_variant }}</strong>
      </div>
			<p>
				<div align="center">
					{# Sets how many results to display per page, currently at 10 #}
					{# {% autopaginate variant_list paginate_results %} #}
				</div>
			</p>
      <p>
      	<div style="padding-left: 200px;">
          {% if variants.has_previous %}
              <a href="?page={{ variants.previous_page_number }}" onclick="this.form.submit();">&lt;&lt;Previous</a>
          {% else %}
              &lt;&lt;Previous
          {% endif %}
          
          Page {{ variants.number }} of {{ variants.paginator.num_pages }}

          {% if variants.has_next %}
              <a href="?page={{ variants.next_page_number }}" onclick="this.form.submit();">Next&gt;&gt;</a>
          {% else %}
              Next&gt;&gt;
          {% endif %}
				</div>
      </p>
			<!-- Results -->
			<p>
				<table cellspacing="10">
					{% for variant in variants %}
						<tr>
							<td>
								<div class="{% if forloop.counter|divisibleby:2 %}search-item-alt{% else %}search-item-div{% endif %}">
                      {% if template == "variant_patient" %}
                          {#<a class="search-item" href="/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instance.ID }}/instance_result/path_all/sort_date/order_desc/">#}
                          <table class="fakeLink" onclick="window.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instance.ID }}/instance_result/path_all/sort_date/order_desc/'">
                      {% else %}
                          {#<a class="search-item" href="/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/path_all/sort_date/order_desc/">#}
                          <table class="fakeLink" onclick="window.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/path_all/sort_date/order_desc/'">
                      {% endif %}
                      <tr>
                          <td>
                              <div class="tableHeading1">
                                  {% if template == "variant_patient" %} {{ variant.Gene.GeneName }} <br/>{% endif %}
                                  RefSeq: {{ variant.Gene.RefSeqName }}{% if variant.Gene.RefSeqVer %}.{{ variant.Gene.RefSeqVer }}{% endif %} 
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  Calculated Position: {{ variant.GenomicRefSeq }}.{{ variant.GenomicRefSeqVer }}:{{ variant.GenomicPosition }}
                              </div>
                          </td>
                      </tr>
											<tr>
												<td style="vertical-align: top;">
													<div class="tableHeading1">
														cDNA: {% if variant.cDNA != 'None' %}{{ variant.cDNA }}{% else %} - {% endif %} &nbsp; &nbsp; &nbsp;
														mRNA: {% if variant.mRNA != 'None' %}{{ variant.mRNA }}{% else %} - {% endif %} &nbsp; &nbsp; &nbsp;
														Genomic: {% if variant.Genomic != 'None' %}{{ variant.Genomic }}{% else %} - {% endif %} &nbsp; &nbsp; &nbsp;
														Protein: {% if variant.Protein != 'None' %}{{ variant.Protein }}{% else %} - {% endif %}&nbsp; &nbsp; &nbsp;
													</div>
												</td>
												<td rowspan="5">
												</td>
											</tr>
											<tr>
												<td class="tableTextColumn">
													<div class="tableText">
														{{ variant.Comments|default:"" }}
													</div>
												</td>	
											</tr>
											<tr>
												<td>
													<div class="tableMinorText">
														Variant Class: {{ variant.VariantClass.VariantClass|default:"" }}
														<br/>
														Location: {{ variant.Location|default:"" }}
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<div class="tableMinorText">
														<table>
															<tr>
																<td>A Total of <b>{{ variant.count_total_instance }}</b> instances</td>		
															</tr>
															<tr>
																<td>
                                  <b>{{ variant.count_instance_not_path }}</b> - Not Pathogenic |
																	<b>{{ variant.count_instance_likely_path }}</b> - Likely Pathogenic |
																	<b>{{ variant.count_instance_unlikely_path }}</b> - Unlikely Pathogenic |
																	<b>{{ variant.count_instance_path }}</b> - Certainly Pathogenic |
																	<b>{{ variant.count_instance_unknown }}</b> - Unknown                                
																</td>		
															</tr>	
														</table>
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<div class="tableMinorText">
														Level of Pathogenicity: <b>{{ variant.Pathogenicity.Pathogenicity }}</b>
													</div>
												</td>
											</tr>
                      <tr>
                          <td>
                              <div class="tableMinorText">
                                  Date of last submitted variant: {% if variant.DateSubmitted %}<b>{{ variant.DateSubmitted }}</b>{% else %}-{% endif %}
                              </div>
                          </td>
                      </tr>
										</table>
									</a>
									{% if user.get_profile.IsHVPAdmin %}
										<div class="tableMinorText" style="text-align: right;">
											<a href="/search/gene/{{geneID}}/searchvariant/variant/{{variant.ID}}/consensus">
												Click here to set the consensus
											</a>
										</div>
									{% endif %}
								</div>					
							</td>
						</tr>
					{% endfor %}
				</table>
			</p>
			<p>
				<div style="padding-left: 200px;">
          {% if variants.has_previous %}
              <a href="?page={{ variants.previous_page_number }}">&lt;&lt;Previous</a>
          {% else %}
              &lt;&lt;Previous
          {% endif %}
          
          Page {{ variants.number }} of {{ variants.paginator.num_pages }}

          {% if variants.has_next %}
              <a href="?page={{ variants.next_page_number }}">Next&gt;&gt;</a>
          {% else %}
              Next&gt;&gt;
          {% endif %}
				</div>
			</p>
		{% else %}
      <div class="ui-widget">
	      <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
	        <p class="errorMessage">
	        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
					No match found for {{ searched_variant }}	
        </p>
	      </div>
      </div>
		{% endif %}
	{% endif %}
    <div style="height:200px"></div>
</div>

{% endblock %}
