{% extends "base.html" %}

<!-- Breadcrumb -->
{% block breadcrumb %} 
	<a href="/" class="pathway">Home</a> 
	<img src="/img/arrow.png" alt="">
	<a href="/search/searchgene/" class="pathway">Gene/Disease</a>
	<img src="/img/arrow.png" alt=""> 
    {% if template == "variant_instance" %}
    	<a href="/search/gene/{{ gene.ID }}/searchvariant/path_all/path_all/" class="pathway">Variant</a>
    	<img src="/img/arrow.png" alt="">
    	Variant Instance Results
    {% endif %}
    {% if template == "variant_instance_patient" %}
    	<a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/path_all/path_all/" class="pathway">Variant Patient</a>
    	<img src="/img/arrow.png" alt="">
    	Variant Instance Patient Results
    {% endif %}
    {% if template == "variant_instance_lab" %}
    	<a href="/search/gene/{{ gene.ID }}/searchvariant/path_all/path_all/" class="pathway">Variant</a>
    	<img src="/img/arrow.png" alt="">
    	Variant Instance Lab Results
    {% endif %}
{% endblock %}

<!-- Content Heading -->
{% block contentheader %} 
    {% if template == "variant_instance" %}Variant Instance Results{% endif %}
    {% if template == "variant_instance_patient" %}Variant Instance Results - You are viewing all variant instances from one patient{% endif %}
    {% if template == "variant_instance_lab" %}Variant Instance Results - Instances from the same Lab/Organisation{% endif %}
{% endblock %}

<!-- Script -->
{% block extra_js %}
<script type="text/javascript">
    $(function() {
        $( "#path_filter" ).buttonset();
        $( "#sort_filter" ).buttonset();
        $( "#order_filter" ).buttonset();
    });
</script>
{% endblock %}

<!-- Content -->
{% block content %}
	<table>
		<tr>
			<td valign="top">
      	<table class="ui-widget ui-dialog-content ui-widget-content ui-corner-all" style="font-size:small">
			        <tr>
				        <th align="center" colspan="2"><h4>{{ gene.GeneName }}</h4></th>
			        </tr>
              <tr>
                  <td width="80px">RefSeq</td>
                  <td>{{ gene.RefSeqName }}{% if gene.RefSeqVer != "" %}.{{ gene.RefSeqVer }}{% endif %}</td>
              </tr>
              <tr>
                  <td>(Calc Pos)</td>
                  <td>{{ variant.GenomicRefSeq }}.{{ variant.GenomicRefSeqVer }}:{{ variant.GenomicPosition }}</td>
              </tr>
              <tr>
                  <td>cDNA</td>
                  <td>{{ variant.cDNA }}</td>
              </tr>
              <tr>
                  <td>genomic</td>
                  <td>{% if variant.Genomic != "None" %}{{ variant.Genomic }}{% else %}-{% endif %}</td>
              </tr>
              <tr>
                  <td>Protein</td>
                  <td>{% if variant.Protein != "None" %}{{ variant.Protein }}{% else %}-{% endif %}</td>
              </tr>
              <tr>
                  <td>mRNA</td>
                  <td>{% if variant.mRNA != "None" %}{{ variant.mRNA }}{% else %}-{% endif %}</td>
              </tr>
	        </table>
			</td>
            {% if template == "variant_instance" %}
    			<td width="400px">
    				<h3>Community Consensus:</h3>
    				<b>{{ consensus|default:"No community consensus has been reached" }} </b>
            <div class="tableMinorText">                
              <h4>Instance Path Breakdown: (Total - {{ variant.count_total_instance }})</h4>
              {{ variant.count_instance_not_path }} - Not Pathogenic <br/>
              {{ variant.count_instance_unlikely_path }} - Unlikely Pathogenic<br/>
              {{ variant.count_instance_likely_path }} - Likely Pathogenic<br/>
              {{ variant.count_instance_path }} - Pathogenic<br/>
              {{ variant.count_instance_unknown }} - Unknown
  					</div>
    			</td>
            {% endif %}
		</tr>
		<tr>
			<td colspan="2">
				<form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
					<table>
						<!-- Sort results -->
            {% if template == "variant_instance" %}
                <tr>
                    <td align="left" colspan="2">
                        <h5>Filter results by pathogenicity:</h5>
                        <div id="path_filter">
                            <input type="radio" id="path_all" name="path_filter" value="path_all" {{ dict_path_filter.path_all }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/path_all/{{ sort_filter }}/{{ order_filter }}/';"><label for="path_all" style="font-size:10px">Show All</label>
                            <input type="radio" id="path" name="path_filter" value="path" {{ dict_path_filter.path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/path/{{ sort_filter }}/{{ order_filter }}/';"><label for="path" style="font-size:10px">Pathogenic</label>
                            <input type="radio" id="not_path" name="path_filter" value="not_path" {{ dict_path_filter.not_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/not_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="not_path" style="font-size:10px">Not Pathogenic</label>
                            <input type="radio" id="likely_not_path" name="path_filter" value="likely_not_path" {{ dict_path_filter.likely_not_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/likely_not_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="likely_not_path" style="font-size:10px">Unlikely Path</label>
                            <input type="radio" id="likely_path" name="path_filter" value="likely_path" {{ dict_path_filter.likely_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/likely_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="likely_path" style="font-size:10px">Likely Path</label>
                            <input type="radio" id="unknown_path" name="path_filter" value="unknown_path" {{ dict_path_filter.unknown_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/unknown_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="unknown_path" style="font-size:10px">Unknown</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Sort by:</h5>
                        <div id="sort_filter">
                            <input type="radio" id="sort_date" name="sort_filter" value="sort_date" {{ dict_sort_filter.sort_date }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/{{ path_filter }}/sort_date/{{ order_filter }}/';"><label for="sort_date" style="font-size:10px">Instance Date</label>
                            <input type="radio" id="sort_subdate" name="sort_filter" value="sort_subdate" {{ dict_sort_filter.sort_subdate }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/{{ path_filter }}/sort_subdate/{{ order_filter }}/';"><label for="sort_subdate" style="font-size:10px">Submission Date</label>
                            <input type="radio" id="sort_age" name="sort_filter" value="sort_age" {{ dict_sort_filter.sort_age }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/{{ path_filter }}/sort_age/{{ order_filter }}/';"><label for="sort_age" style="font-size:10px">Patient Age</label>
                            <input type="radio" id="sort_path" name="sort_filter" value="sort_path" {{ dict_sort_filter.sort_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/{{ path_filter }}/sort_path/{{ order_filter }}/';"><label for="sort_path" style="font-size:10px">Pathogenicity</label>
                        </div>
                    </td>
                    <td>
                        <h5>Order by:</h5>
                        <div id="order_filter">
                            <input type="radio" id="order_desc" name="order_filter" value="order_desc" {{ dict_order_filter.order_desc }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/{{ path_filter }}/{{ sort_filter }}/order_desc/';"><label for="order_desc" style="font-size:10px">Descending</label>
                            <input type="radio" id="order_asc" name="order_filter" value="order_asc" {{ dict_order_filter.order_asc }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/instance_result/{{ path_filter }}/{{ sort_filter }}/order_asc/';"><label for="order_asc" style="font-size:10px">Ascending</label>
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% if template == "variant_instance_patient" %}
                <tr>
                    <td align="left" colspan="2">
                        <h5>Filter results by pathogenicity:</h5>
                        <div id="path_filter">
                            <input type="radio" id="path_all" name="path_filter" value="path_all" {{ dict_path_filter.path_all }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/path_all/{{ sort_filter }}/{{ order_filter }}/';"><label for="path_all" style="font-size:10px">Show All</label>
                            <input type="radio" id="path" name="path_filter" value="path" {{ dict_path_filter.path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/path/{{ sort_filter }}/{{ order_filter }}/';"><label for="path" style="font-size:10px">Pathogenic</label>
                            <input type="radio" id="not_path" name="path_filter" value="not_path" {{ dict_path_filter.not_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/not_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="not_path" style="font-size:10px">Not Pathogenic</label>
                            <input type="radio" id="likely_not_path" name="path_filter" value="likely_not_path" {{ dict_path_filter.likely_not_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/likely_not_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="likely_not_path" style="font-size:10px">Unlikely Path</label>
                            <input type="radio" id="likely_path" name="path_filter" value="likely_path" {{ dict_path_filter.likely_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/likely_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="likely_path" style="font-size:10px">Likely Path</label>
                            <input type="radio" id="unknown_path" name="path_filter" value="unknown_path" {{ dict_path_filter.unknown_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/unknown_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="unknown_path" style="font-size:10px">Unknown</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Sort by:</h5>
                        <div id="sort_filter">
                            <input type="radio" id="sort_date" name="sort_filter" value="sort_date" {{ dict_sort_filter.sort_date }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/{{ path_filter }}/sort_date/{{ order_filter }}/';"><label for="sort_date" style="font-size:10px">Instance Date</label>
                            <input type="radio" id="sort_subdate" name="sort_filter" value="sort_subdate" {{ dict_sort_filter.sort_subdate }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/{{ path_filter }}/sort_subdate/{{ order_filter }}/';"><label for="sort_subdate" style="font-size:10px">Submission Date</label>
                            <input type="radio" id="sort_age" name="sort_filter" value="sort_age" {{ dict_sort_filter.sort_age }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/{{ path_filter }}/sort_age/{{ order_filter }}/';"><label for="sort_age" style="font-size:10px">Patient Age</label>
                            <input type="radio" id="sort_path" name="sort_filter" value="sort_path" {{ dict_sort_filter.sort_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/{{ path_filter }}/sort_path/{{ order_filter }}/';"><label for="sort_path" style="font-size:10px">Pathogenicity</label>
                        </div>
                    </td>
                    <td>
                        <h5>Order by:</h5>
                        <div id="order_filter">
                            <input type="radio" id="order_desc" name="order_filter" value="order_desc" {{ dict_order_filter.order_desc }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/{{ path_filter }}/{{ sort_filter }}/order_desc/';"><label for="order_desc" style="font-size:10px">Descending</label>
                            <input type="radio" id="order_asc" name="order_filter" value="order_asc" {{ dict_order_filter.order_asc }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/patient/{{ instanceID }}/instance_result/{{ path_filter }}/{{ sort_filter }}/order_asc/';"><label for="order_asc" style="font-size:10px">Ascending</label>
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% if template == "variant_instance_lab" %}
                <tr>
                    <td align="left" colspan="2">
                        <h5>Filter results by pathogenicity:</h5>
                        <div id="path_filter">
                            <input type="radio" id="path_all" name="path_filter" value="path_all" {{ dict_path_filter.path_all }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/path_all/{{ sort_filter }}/{{ order_filter }}/';"><label for="path_all" style="font-size:10px">Show All</label>
                            <input type="radio" id="path" name="path_filter" value="path" {{ dict_path_filter.path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/path/{{ sort_filter }}/{{ order_filter }}/';"><label for="path" style="font-size:10px">Pathogenic</label>
                            <input type="radio" id="not_path" name="path_filter" value="not_path" {{ dict_path_filter.not_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/not_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="not_path" style="font-size:10px">Not Pathogenic</label>
                            <input type="radio" id="likely_not_path" name="path_filter" value="likely_not_path" {{ dict_path_filter.likely_not_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/likely_not_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="likely_not_path" style="font-size:10px">Unlikely Path</label>
                            <input type="radio" id="likely_path" name="path_filter" value="likely_path" {{ dict_path_filter.likely_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/likely_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="likely_path" style="font-size:10px">Likely Path</label>
                            <input type="radio" id="unknown_path" name="path_filter" value="unknown_path" {{ dict_path_filter.unknown_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/unknown_path/{{ sort_filter }}/{{ order_filter }}/';"><label for="unknown_path" style="font-size:10px">Unknown</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Sort by:</h5>
                        <div id="sort_filter">
                            <input type="radio" id="sort_date" name="sort_filter" value="sort_date" {{ dict_sort_filter.sort_date }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/{{ path_filter }}/sort_date/{{ order_filter }}/';"><label for="sort_date" style="font-size:10px">Instance Date</label>
                            <input type="radio" id="sort_subdate" name="sort_filter" value="sort_subdate" {{ dict_sort_filter.sort_subdate }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/{{ path_filter }}/sort_subdate/{{ order_filter }}/';"><label for="sort_subdate" style="font-size:10px">Submission Date</label>
                            <input type="radio" id="sort_age" name="sort_filter" value="sort_age" {{ dict_sort_filter.sort_age }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/{{ path_filter }}/sort_age/{{ order_filter }}/';"><label for="sort_age" style="font-size:10px">Patient Age</label>
                            <input type="radio" id="sort_path" name="sort_filter" value="sort_path" {{ dict_sort_filter.sort_path }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/{{ path_filter }}/sort_path/{{ order_filter }}/';"><label for="sort_path" style="font-size:10px">Pathogenicity</label>
                        </div>
                    </td>
                    <td>
                        <h5>Order by:</h5>
                        <div id="order_filter">
                            <input type="radio" id="order_desc" name="order_filter" value="order_desc" {{ dict_order_filter.order_desc }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/{{ path_filter }}/{{ sort_filter }}/order_desc/';"><label for="order_desc" style="font-size:10px">Descending</label>
                            <input type="radio" id="order_asc" name="order_filter" value="order_asc" {{ dict_order_filter.order_asc }} onclick="document.location='/search/gene/{{ variant.Gene.ID }}/variant/{{ variant.ID }}/lab/instance_result/{{ instanceID }}/{{ path_filter }}/{{ sort_filter }}/order_asc/';"><label for="order_asc" style="font-size:10px">Ascending</label>
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% if template == "variant_instance" %}
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        <div class="tableMinorText">
                            Date of last submission:
                            {% if last_date_submitted %} 
                                <a href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/instance/{{ last_date_submitted_ID }}"> 
                                    {{ last_date_submitted|date:"d M Y" }} 
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endif %}
						<tr>
							<td>
								&nbsp;
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div style="width:600px;background-color:#F0F7F9;border-top: solid 1px #6B90DA;padding: 0.3em;">
					                Showing <strong>{{ result_low }} - {{ result_high }}</strong> of <strong>{{ result }}</strong> variant instances
					            </div>
								<!--{% ifnotequal variant_instance_list.count 0%}
							 		{{ variant_instance_list.count }} results matched your search
								{% endifnotequal %}-->
							</td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
	</table>
	{% if variant_instances %}
		<p>
      <div style="padding-left: 200px;">
          {# Sets how many results to display per page, currently at 10 #}
          {% if variant_instances.has_previous %}
              <a href="?page={{ variant_instances.previous_page_number }}">&lt;&lt;Previous</a>
          {% else %}
              &lt;&lt;Previous
          {% endif %}
          
          Page {{ variant_instances.number }} of {{ variant_instances.paginator.num_pages }}

          {% if variant_instances.has_next %}
              <a href="?page={{ variant_instances.next_page_number }}">Next&gt;&gt;</a>
          {% else %}
              Next&gt;&gt;
          {% endif %}
			</div>
		</p>
		<!-- Results -->
		<p>
			<table cellspacing="10" width="600px">
				{% for variant_instance in variant_instances %}
					<tr>
						<td>
							<div class="{% if forloop.counter|divisibleby:2 %}search-item-alt{% else %}search-item-div{% endif %}">
								{% if template == "variant_instance" %}
	                {#<a class="search-item" id="searchResult" href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/instance/{{ variant_instance.ID }}">#}
	                <table class="fakeLink" onclick="window.location='/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/instance/{{ variant_instance.ID }}'">
								{% endif %}
                {% if template == "variant_instance_patient" %}
                    {#<a class="search-item" id="searchResult" href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/patient/instance_detail/{{ variant_instance.ID }}/">#}
                    <table class="fakeLink" onclick="window.location='/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/patient/instance_detail/{{ variant_instance.ID }}/'">
                {% endif %}
                {% if template == "variant_instance_lab" %}
                    {#<a class="search-item" id="searchResult" href="/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/lab/instance_detail/{{ variant_instance.ID }}/">#}
                    <table class="fakeLink" onclick="window.location='/search/gene/{{ gene.ID }}/variant/{{ variant.ID }}/lab/instance_detail/{{ variant_instance.ID }}/'">
                {% endif %}
										<tr>
											<td style="vertical-align: top;">
												<div class="tableHeading1">
													Instance Date: {{ variant_instance.InstanceDate|date:"d M Y" }}
												</div>
											</td>
										</tr>
										<tr>
											<td class="tableTextColumn">
												<div class="tableText">
													Pathogenicity: <strong>{{ variant_instance.Pathogenicity.Pathogenicity }}</strong>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="tableText">
													Age at test: <strong>{{ variant_instance.PatientAge }}</strong>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="tableMinorText">
													<strong>Justification:</strong> <br/>
													{{ variant_instance.Justification|default:""|truncatewords:50 }}
												</div>
											</td>
										</tr>
                    <tr>
                        <td>
                            <div class="tableText">
                                Date of Submission: <strong>{{ variant_instance.DateSubmitted|date:"d M Y"|default:"-" }}</strong>
                            </div>
                        <td>
                    </tr>
									</table>
								</a>
							</div>					
						</td>
					</tr>
				{% endfor %}
			</table>
		</p>
		<p>
      <div style="padding-left: 200px;">
          {# Sets how many results to display per page, currently at 10 #}
          {% if variant_instances.has_previous %}
              <a href="?page={{ variant_instances.previous_page_number }}">&lt;&lt;Previous</a>
          {% else %}
              &lt;&lt;Previous
          {% endif %}
          
          Page {{ variant_instances.number }} of {{ variant_instances.paginator.num_pages }}

          {% if variant_instances.has_next %}
              <a href="?page={{ variant_instances.next_page_number }}">Next&gt;&gt;</a>
          {% else %}
              Next&gt;&gt;
          {% endif %}
			</div>
		</p>
    {% endif %}
{% endblock %}
