{% extends "base.html" %}

<!-- Content Heading -->
{% block contentheader %} GENE IMPORT {% endblock %}

{% block content %}
    <form id="userForm" method="post" accept-charset="utf-8" enctype="multipart/form-data">    
        <p>
            Are you sure you want to import genenames to Database? <br/>
            <strong>(Warning: this could potentially override or duplicate existing data)</strong>
        </p>

        <input type="submit" name="import" value="Import" 
            class="ui-button ui-state-default ui-corner-all ui-button-text-only"/>
        <input type="submit" name="cancel" value="Cancel" 
            class="ui-button ui-state-default ui-corner-all ui-button-text-only"/>
    </form>
{% endblock %}
